<section class="app-1">
    @if (formConfig1$ | async; as formPkg) {
    @if (formPkg.formGroup; as form1) {
    <form class="form1" [formGroup]="form1">
        @for (field of formPkg.fields; track $index) {
        <app-input-field [config]="field" [control]="formControlsForm1[field.name]"></app-input-field>
        }
    </form>

    <button [disabled]="!formPkg.formGroup.valid" (click)="handleCourseForm()">Submit Form</button>
    }
    }
</section>

<section class="app-2">
    @if (formConfig2$ | async; as formPkg) {
    @if (formPkg.formGroup; as form2) {
        <form class="form1" [formGroup]="form2">
            @for (field of formPkg.fields; track $index) {
            <app-input-field [config]="field" [control]="formControlsForm2[field.name]"></app-input-field>
            }
        </form>

        <button [disabled]="!form2.valid" (click)="submitForm2()">Submit Form 2</button>
    } @else {
    <div class="form2-loader">
        <h3>LOADING FORM 2</h3>
    </div>

    }
    }


</section>